
# **Running Pyspark in Colab (Due date: February 10 at 1 p.m.)**
PySpark is the Python API for Spark, which is an important tool in Big Data. To run spark in Colab, we need to first install pyspark package and Findspark to locate the spark in the system. The tools installation can be carried out inside the Jupyter Notebook of the Colab. Follow the steps to install the dependencies:

In [1]:
!pip install pyspark
!pip install -q findspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 58.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=869e3319e343c5ebff8825208f546dd180bb5d6fda52be7c32ac00c971ca3d39
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

Run a local spark session to test your installation:

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

Congrats! Your Colab is ready to run Pyspark.

# Read input text file to RDD 

The first step to use Pyspark is reading input text file to resilient distributed dataset (RDD) provides by Spark as the primary abstraction.

Download the input data from [here](https://github.com/umddm/ECE795_Homeworks_Spring2022/blob/homework_1/StudentsPerformance.csv) and keep it in the Colab document by the following command. The input data can also be downloaded from the blackboard.

Check the input data correctly in the system by the following command

In [20]:
!ls

sample_data  StudentsPerformance.csv  StudentsPerformance.txt

Now that we have input data, we can start to do the homework. 

## Question 1: Use sc.textFile to read the provided input data and split different fields.

### Expected output of rdd.take(10):
```
['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']
['female', 'group B', "bachelor's degree", 'standard', 'none', '72', '72', '74']
['female', 'group C', 'some college', 'standard', 'completed', '69', '90', '88']
['female', 'group B', "master's degree", 'standard', 'none', '90', '95', '93']
['male', 'group A', "associate's degree", 'free/reduced', 'none', '47', '57', '44']
['male', 'group C', 'some college', 'standard', 'none', '76', '78', '75']
['female', 'group B', "associate's degree", 'standard', 'none', '71', '83', '78']
['female', 'group B', 'some college', 'standard', 'completed', '88', '95', '92']
['male', 'group B', 'some college', 'free/reduced', 'none', '40', '43', '39']
['male', 'group D', 'high school', 'free/reduced', 'completed', '64', '64', '67']
```

In [19]:
#sc.textFile
from pyspark import SparkConf, SparkContext
sc = SparkContext.getOrCreate()

#Question_1:  
#Fill out here

rdd = sc.textFile('./StudentsPerformance.txt').map(lambda x: x.replace("\"","'")).map(lambda line: line.split('\t'))  # "replace ""
#rdd.take(10)
for line in rdd.take(10):
    print (line)

['gender’,’race/ethnicity’,’parental level of education’,’lunch’,’test preparation course’,’math score’,’reading score’,’writing score']
['female’,’group B’,"bachelor’s degree",’standard’,’none’,’72’,’72’,’74']
['female’,’group C’,’some college’,’standard’,’completed’,’69’,’90’,’88']
['female’,’group B’,"master’s degree",’standard’,’none’,’90’,’95’,’93']
['male’,’group A’,"associate’s degree",’free/reduced’,’none’,’47’,’57’,’44']
['male’,’group C’,’some college’,’standard’,’none’,’76’,’78’,’75']
['female’,’group B’,"associate’s degree",’standard’,’none’,’71’,’83’,’78']
['female’,’group B’,’some college’,’standard’,’completed’,’88’,’95’,’92']
['male’,’group B’,’some college’,’free/reduced’,’none’,’40’,’43’,’39']
['male’,’group D’,’high school’,’free/reduced’,’completed’,’64’,’64’,’67']

## Question 2: Convert all the elements in the last three columns of the RDD to integer type and save in "MathScore.txt", "ReadingScore.txt" and "WritingScore.txt".

Please do not upload the generated output files to Blackboard

In [21]:
#Question_2  Test
#Fill out here

mydata = sc.textFile('./StudentsPerformance.txt')
#delete header
header = mydata.first()
mydata = mydata.filter(lambda line: line != header)
#mydata.first()   # test delete header

In [22]:
#Question_2
#Fill out here

MathScore = mydata.map(lambda x:int(x.split(",")[5].replace("\"","")))  
MathScore.repartition(1).saveAsTextFile("MathScore.txt")   # saveAsTextFile("MathScore.txt")

ReadingScore = mydata.map(lambda x:int(x.split(",")[6].replace("\"","")))
ReadingScore.repartition(1).saveAsTextFile("ReadingScore.txt")   # saveAsTextFile("ReadingScore.txt")

WritingScore = mydata.map(lambda x:int(x.split(",")[7].replace("\"","")))
WritingScore.repartition(1).saveAsTextFile("WritingScore.txt")   # saveAsTextFile("WritingScore.txt")

In [23]:
!ls

MathScore.txt	  sample_data		   StudentsPerformance.txt
ReadingScore.txt  StudentsPerformance.csv  WritingScore.txt

In [24]:
#Question_2
# Read .txt Test

read_rdd = sc.textFile("MathScore.txt")  # Read MathScore.txt Test
read_rdd.collect()
read_rdd.take(10)   # Test MathScore

['72', '69', '90', '47', '76', '71', '88', '40', '64', '38']

## Question 3: Please output the number of elements in the RDD with 'A', 'degree' and 'school'.
For example, a valid element can be 'Group A', 'associate's degree', 'high school' or 'Apple' ('A' is a substring of the words)

In [25]:
#Question_3
#Fill out here

# Output the number of elements in the RDD with 'A'
mydata = sc.textFile('./StudentsPerformance.txt')
A_count = mydata.filter(lambda x: "A" in x).count()
A_count

89

In [26]:
# Output the number of elements in the RDD with 'degree'
mydata = sc.textFile('./StudentsPerformance.txt')
degree_count = mydata.filter(lambda x: "degree" in x).count()
degree_count

399

In [27]:
# Output the number of elements in the RDD with 'school'
mydata = sc.textFile('./StudentsPerformance.txt')
school_count = mydata.filter(lambda x: "school" in x).count()
school_count

375

In [28]:
# Output the number of elements in the RDD with 'A', 'degree' and 'school'.
All_count = A_count + degree_count + school_count
All_count

863

## Question 4: Please utilize the following action RDD operation `sum` to compute how many times the word 'completed' appears in the given input file.

sum() is an action type of RDD operation, which generate the sum of all the elements in RDD.
For example: If rdd includes elements of 1, 2, and 3, rdd.sum() will return 6 as the output.

In [29]:
#Question_4
#Fill out here   # cannot use "count"
  
mydata = sc.textFile('./StudentsPerformance.txt')  #count = mydata.filter(lambda x: "completed" in x).count()
mydata.map(lambda x: x.replace("\"","")).flatMap(lambda x: x.split(",")).map(lambda x: 1 if "completed" in x else 0).sum()   # Need use "sum", not "count"

358